@import "tailwindcss";
@import "./styles/effects.css";

:root {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-main: #ff0000;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  width: 100dvw;
  height: 100dvh;
}

.container {
  max-width: 1200px;
  width: 80%;
}

@media (max-width: 700px) {
  .container {
    width: 90%;
  }
}

@view-transition {
  navigation: auto;
}

.glass {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 1px 1px 5px 4px rgba(255, 255, 255, 0.055), inset -8px -8px 8px -10px rgba(255, 255, 255, 0.881), inset 8px 8px 8px -10px rgba(255, 255, 255, 0.881);
  backdrop-filter: blur(2px);
  backdrop-filter: url(#distortion);
}

.glass:hover {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: inset 1px 1px 5px 4px rgba(255, 255, 255, 0.055), inset -8px 8px 8px -10px rgba(255, 255, 255, 0.881), inset 8px -8px 8px -10px rgba(255, 255, 255, 0.881);
  backdrop-filter: blur(2px);
  backdrop-filter: url(#distortion);
}